{% set page_title = tutorial.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{tutorial.id}}: {{tutorial.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{ tutorial.organizers | join(", ") }}
    </h3>

    <div class="text-center p-3">
    <a class="card-link" data-toggle="collapse" role="button" href="#details">
      Description
    </a>
    {% if tutorial.website %}
      <a href="{{tutorial.website}}" target="_blank"  class="card-link">
        Website
      </a>
    {% endif %}
    {% if tutorial.slides %}
      <a href="{{tutorial.slides}}" target="_blank"  class="card-link">
        Slides
      </a>
    {% endif %}
    {% if tutorial.material %}
      <a href="{{tutorial.material}}" target="_blank"  class="card-link">
        Material
      </a>
    {% endif %}

    {% if tutorial.id == 'T7' %}
      <a href="https://docs.google.com/document/d/1WUerIY4MKuKEmvWR2OeB_oJCSBl3k4Q7KWwNzm5HYhs/view" target="_blank" class="card-link">
          Tutorial Worksheet
      </a>
    {% endif %}
    {% if tutorial.id == 'T1' %}
      <a href="https://www.dory.app/c/google.com/aaabb999_acl-20-interpretability-tutorial/questions" target="_blank"  class="card-link">
        Question and Discussion Topic Collection via Dory
      </a>
    {% endif %}
    </div>

    {{ components.live_sessions(
        tutorial.sessions,
        tutorial.title,
        "https://virtual.acl2020.org/tutorial_" + tutorial.id + ".html",
        false) }}

  </div>
</div>
<div id="details" class="pp-card m-3 collapse hide">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Abstract:</span>
        {{tutorial.abstract|safe}} <br />
      </div>
    </div>
    <p></p>
  </div>
</div>

<div class="container" style="background-color:white; padding: 0px;">
  <div class="row m-2">
    <div class="col-md-12 col-xs-12 my-auto p-2" >
      <b>Information about the virtual format of this tutorial: </b>
      {{tutorial.virtual_format_description}}
    </div>
  </div>

  {% if tutorial.id == 'T8' %}
  <div class="row m-2" style="padding-left: 5px;">
  <div class="col-md-12 col-xs-12 my-auto p-2" style="font-size: 15px;">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>Speaker</th>
        <th>Slides</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Danqi Chen</td>
        <td><a href="https://github.com/danqi/acl2020-openqa-tutorial/blob/master/slides/part1-introduction.pdf" target="_blank" rel="noopener noreferrer">Introduction & problem definition</a></td>
      </tr>
      <tr>
        <td>Scott Yih</td>
        <td><a href="https://github.com/danqi/acl2020-openqa-tutorial/blob/master/slides/part2-history.pdf" target="_blank" rel="noopener noreferrer">A history of open-domain (textual) QA</a></td>
      </tr>
      <tr>
        <td>Scott Yih</td>
        <td><a href="https://github.com/danqi/acl2020-openqa-tutorial/blob/master/slides/part3-dataset-evaluation.pdf" target="_blank" rel="noopener noreferrer">Datasets & evaluation</a></td>
      </tr>
      <tr>
        <td>Danqi Chen</td>
        <td><a href="https://github.com/danqi/acl2020-openqa-tutorial/blob/master/slides/part4-retriever-reader.pdf" target="_blank" rel="noopener noreferrer">Two-stage retriever-reader approaches</a></td>
      </tr>
      <tr>
        <td>Danqi Chen</td>
        <td><a href="https://github.com/danqi/acl2020-openqa-tutorial/blob/master/slides/part5-dense-retriever-e2e-training.pdf" target="_blank" rel="noopener noreferrer">Dense retriever and end-to-end training</a></td>
      </tr>
      <tr>
        <td>Danqi Chen</td>
        <td><a href="https://github.com/danqi/acl2020-openqa-tutorial/blob/master/slides/part6-retrieval-free.pdf" target="_blank" rel="noopener noreferrer">Retrieval-free approaches</a></td>
      </tr>
      <tr>
        <td>Scott Yih</td>
        <td><a href="https://github.com/danqi/acl2020-openqa-tutorial/blob/master/slides/part7-kb-text.pdf" target="_blank" rel="noopener noreferrer">Open-domain QA using KBs and text</a></td>
      </tr>
      <tr>
        <td>Scott Yih</td>
        <td><a href="https://github.com/danqi/acl2020-openqa-tutorial/blob/master/slides/part8-conclusion.pdf" target="_blank" rel="noopener noreferrer">Open problems and future directions</a></td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
  {% endif %}

  <div class="text-muted text-center">
    {% if tutorial.prerecorded %}
    <a class="btn btn-outline-danger"
       href="https://slideslive.com/{{tutorial.prerecorded}}" target="_blank"
       style="margin-left: 5px; margin-right: 5px">
      Pre-recorded Video
    </a>
    {% endif %}

    {% if tutorial.id != 'T7' %}
      {% for session in tutorial.sessions %}
      <a class="btn btn-outline-danger"
         href="https://slideslive.com/{{session.livestream_id}}" target="_blank"
         style="margin-left: 5px; margin-right: 5px">
        {{ session.session_name }}
      </a>
      {% endfor %}
    {% endif %}

    <a class="btn btn-outline-danger"
       href="https://{{config.chat_server}}/channel/{{tutorial.rocketchat_channel}}"
       target="_blank"
       style="margin-left: 5px; margin-right: 5px">
      Chat
    </a>
  </div>

  <div class="row m-2">   
    {% if tutorial.id == 'T7' or tutorial.id == 'T2' or tutorial.id == 'T6' or tutorial.id == 'T8' %}
      {% set rocketchat_width = 12 %}
    {% else %}
      {% set rocketchat_width = 5 %}
    {% endif %}

    <!-- Prerecorded Talk -->
    {% if tutorial.prerecorded %}
    <div class="col-md-7 col-xs-12 my-auto p-2" >
      <div id="presentation-embed-{{tutorial.prerecorded}}" class="slp my-auto"></div>
      <script src='https://slideslive.com/embed_presentation.js'></script>
      <script>
        embed = new SlidesLiveEmbed('presentation-embed-{{tutorial.prerecorded}}', {
          presentationId: '{{tutorial.prerecorded}}',  // TODO: make this configurable
          autoPlay: false, // change to true to autoplay the embedded presentation
          verticalEnabled: true,
          verticalWhenWidthLte: 500,
          allowHiddenControlsWhenPaused: true,
          hideTitle: true
        });
      </script>
    </div>
    {% endif %}

    <div class="col-md-{{ rocketchat_width }} col-xs-12 p-2">
      <div id="gitter" class="slp">
        <iframe frameborder="0" src="https://{{config.chat_server}}/channel/{{tutorial.rocketchat_channel}}?layout=embedded" height="700px" width="100%" ></iframe>
      </div>
    </div>
  </div>


  <!-- Livestreaming -->
  {% if tutorial.id != 'T7' %}
  {% for session in tutorial.sessions %}
    {{ components.section(session.session_name) }}
    <div class="row m-2">
    <div class="col-md-12 col-xs-12 my-auto p-2" >
      <div id="presentation-embed-{{session.livestream_id}}" class="slp my-auto"></div>
      <script src='https://slideslive.com/embed_presentation.js'></script>
      <script>
        embed = new SlidesLiveEmbed('presentation-embed-{{session.livestream_id}}', {
          presentationId: '{{session.livestream_id}}',
          autoPlay: false, // change to true to autoplay the embedded presentation
          verticalEnabled: true,
          verticalWhenWidthLte: 500,
          allowHiddenControlsWhenPaused: true,
          hideTitle: true
        });
      </script>
    </div>
    </div>
  {% endfor %}
  {% endif %}

</div>

<script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>

{% endblock %}
